@import url('https://fonts.googleapis.com/css2?family=Joan&family=Kdam+Thmor+Pro&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightgrey;
    
}
a{
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    padding: 15px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    padding: 15px;
    align-content: space-between;
}

nav div {
    padding: 5px;
}

.nav-footer {
    display: flex;
    align-items: left;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 15px;
    align-content: space-between;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    padding: 15px;
}

.container-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    width: 100%;
    height: 150px;
    left: 0px;
    bottom: 0px;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
}

section {
    display: flex;
    gap: 5px;
    top: 155px;
    position: absolute;
    justify-content: center;
    width: 100%;
}

section article {
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 350px;
    border-radius: 5px;
}

.image {
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    background-color: blanchedalmond;
    width: 490px;
    height: 350px;

}

.background-article {
    background-color: white;
}

.title1 {
    margin-top: 20px;
    margin-left: 20px;
    color: red;
}

.title2 {
    color: red;
    text-align: center;
}

.title3 {
    margin-left: 60px;
}

.inter {
    line-height: 20px;
}

.image-box {
    position: absolute;
    width: 92px;
    height: 129px;
    left: 1050px;
    top: 145px;
}